
:root{
    --primary-color: #ffc93c;
}
/* NAVIGATION */
.container-fluid{
     
    background-color: var(--primary-color);
    padding: 25px;
}
.head{
    text-align: center;
}

#text-input{
    height : 10vh;
    width : 450px ;
    display: block;
}
#output{
    border: 2px solid black;
    height: 10vh;
    width: 600px;
}