
:root{
    --primary-color: #ffc93c;
}
body{
    text-align: center;
}
/* NAVIGATION */
.container-fluid{
     
    background-color: var(--primary-color);
    padding: 25px;
}
.head{
    text-align: center;
}
/* INPUT */
 .txt-area{
    padding-top: 50px;
    padding-bottom: 20px ;
} 
#text-input{
    height : 10vh;
    width : 450px ;
    display: block;
    text-align: center;
}
/* OUTPUT */
#output{
    border: 2px solid black;
    height: 13vh;
    width: 450px;
   margin:auto ;
}
.output-head{
    padding-top : 50px;
}

/* FOOTER */
.footer {
    padding: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--primary-color);
    color: black;
    text-align: center;
 }
 p{
     max-width: 50%;
     margin: auto;
 }